<div align="center">
    <img src="~/Content/Images/Logo1.png" height="150" width="200" />
</div>
<br />
<div align="center">
    <h3 class="myText-color">
        <i>
            Company description...
        </i>
    </h3>
</div>
<ul class="myText-color">
    <li>Custom software application development services for web, desktop, mobile and cloud</li>
    <li>Data and database management services</li>
    <li>Reporting and business intelligence</li>
</ul>
