<div align="center">
    <img src="~/Content/Images/Logo1.png" height="150" width="200" />
</div>
<br />

<div align="center">
    <address class="myText-color">
        Name <br />
        Address 1 <br />
        <abbr title="Phone/Fax">Phone/Fax:</abbr>
        (+40) ... <br />

        Name <br />
        Address 2 <br />
        <abbr title="Phone">Phone:</abbr>
        +40 ... <br />
    </address>
</div>
