
<div class="footer">
    <div id="button"></div>
    <div id="container">
        <div id="cont">
            <div class="footer_center">
                <div class="made-with-love">
                    &copy;
                    Made with
                    <i>♥</i> by
                    <a href="http://www.google.ro/">Orbai Andrei</a>
                </div>
                <br />
                <h3><img src="~/Content/Images/Logo1.png" height="60" width="80" />  </h3>
            </div>
        </div>
    </div>
</div>


